* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    color: #333;
}

ul {
    margin: 0;
    padding: 0;
}

.name,
.contact a,
h2 {
    font-family: 'Montserrat', sans-serif;
}


p {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: #8395a7;
    padding: 0 10px;
}

body {
    background-color: #f0f2f7;
}

ul {
    margin: 4px;
}

footer {
    font-size: .75em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8395a7;
}

.main-contact {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: space-between;
}

div.name {
    display: inline;
    /* align-self: flex-start; */
    font-size:2.2em;
}

p.name {
    margin: 0;
    padding: 0;
}

.fleur {
    width: 105px;
    margin: 0 auto;
    margin-top: -39px;
}

.contact {
    display: inline-flex;
    flex-direction: column;
}

.contact li {
    list-style: none;
    align-self: flex-end;
    margin-right: 10px;
    font-size: 1.25em;
}

.main-contact a:link {
    text-decoration: none;
}

.logo {
    width: 1.25em;
    padding-left: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.carousel {
    margin: 0 auto;
    margin-bottom: 80px;
    width: 600px;
    max-width: 70%;
    height: 300px;
    background-size: cover;
}

h2 {
    text-align: center;
    padding: 5px 0;
    font-size: 2em;
}

.bio {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
    align-content: center;
}
/* For a circular proile pic ... */
/* .profile {
    border-radius: 50%;
    height: 100px;
    width: 100px;
} */

.bio p {
    margin: 5px;
    padding: 10px;
    background: #8395a7;
    border-radius: 10px;
}

.bio p:hover {
    background: rgba(131, 149, 167, .9);
}

div#slides {
    border: 1px solid #333;
}


@media screen and (max-width: 325px) {

    header {
        padding: 0;
        margin: 0;
        width: 100%;
    }


    .logo {
        width: 1em;
        max-width: 100%;
        margin: 2px;
    }

    .contact li {
        font-size: .75em;
        margin: 0 auto;
        padding: 0;
        width: 100%
    }
}

@media screen and (max-width: 400px) {
    .carousel {
        width: 100%;
        height: 200px;
        background-size: cover;
    }

    .fleur {
        width: 70px;
        margin-top: -50px;
    }

    h2 {
        padding-top: 15px;
        margin-top: 10px;
    }

    div.name {
        font-size: 2.5em;
        display: flex;
        justify-content: space-between;
    }

    p.name {
        display: inline-flex;
    }

    .contact {
        flex-direction: row;
    }

    .contact li {
        list-style: none;
        align-self: flex-end;
        margin-right: 10px;
        font-size: 1em;
        justify-content: space-around;
        margin: 40px auto 0;
    }

    .main-contact {
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 401px) {
    .main-contact {
        flex-direction: row;
    }
}


@media screen and (min-width: 650px) {
    .bio {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .bio h2 {
        flex-basis: 100%;
    }

    .bio p {
        width: 48%;
    }
}