* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    color: #333;
}

header {
    background-color: #FA6900;
    padding: 0 20px;
}

body {
    background-color: #E0E4CC;
}

ul {
    margin: 4px;
}

footer {
    font-size: .75em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FA6900;
}

.main-contact {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

div.name {
    display: inline;
    align-self: flex-start;
    font-size:2.2em;
    padding: 
}

p.name {
    margin: 0;
    padding: 0;
}

.fleur {
    width: 105px;
    margin: 0 auto;
    margin-top: -39px;
}

.contact {
    display: inline-flex;
    flex-direction: column;
}

.contact li {
    list-style: none;
    align-self: flex-end;
    margin-right: 10px;
    font-size: 1.25em;
}

.main-contact a:link {
    text-decoration: none;
}

.logo {
    width: 1.25em;
    padding-left: 5px;
}

.bio {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
    align-content: center;
}

.bio p {
    margin: 5px;
    padding: 10px;
    background: #FA6900;
    border-radius: 10px;
}

.bio p:hover {
    background: #F38630;
}