* {
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: #a84705;
    margin: 0;
}

body {
    background-color: #333;
}




.main-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contact {
    display: flex;
    flex-direction: column;
}

.contact li {
    list-style: none;
    align-self: flex-end;
    margin-right: 10px;
    font-size: 1.5em;
}

.main-contact a:link {
    text-decoration: none;
    color: #333;
}